@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-item {
  transition: opacity 0.3s ease;
}


/* Esconde a barra de rolagem dentro do slider */
.slider-container::-webkit-scrollbar {
  display: none;
}


/* Barra de progresso customizada */
.scrollbar {
  height: 5px;
  background: #df1b05;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.3s ease;
  border-radius: 4px;
}

/* Personalização da barra de rolagem principal */
body::-webkit-scrollbar {
  width: 10px; /* Largura da barra */
}

body::-webkit-scrollbar-track {
  background: #000000; /* Cor de fundo da barra */
}

body::-webkit-scrollbar-thumb {
  background: #df1b05; /* Cor da barra (polegar) */
  border-radius: 4px; /* Borda arredondada */
}

body::-webkit-scrollbar-thumb:hover {
  background: #b81604; /* Cor ao passar o mouse */
}


.h6categorias {
  @apply text-7xl font-extrabold text-center text-terceiracor;
}

.categorias {
  @apply min-w-[50%] flex flex-col items-center md:min-w-[27%] p-4 rounded-lg snap-center;
}

.categorias img {
  @apply w-72 lg:w-48 rounded-full border-primeiracor border-4;
 }

 .categorias p {
   @apply mt-2 text-center font-semibold text-2xl text-terceiracor;
 }

 .produto {
   @apply flex flex-col md:flex-row items-center md:items-end gap-4 mt-8 hover:scale-105 duration-300 border-b-4 border-primeiracor rounded;
 }

 .produto img {
   @apply h-40 w-full md:w-40 rounded-t-lg object-cover;
 }

 .produtocard {
  @apply flex justify-between items-center sm:items-end gap-4 mt-3 w-full;
 }

 .produtocard p {
  @apply text-terceiracor font-semibold text-3xl;
 }

 /* Personalização da barra de rolagem para o popup */
.popapfundo::-webkit-scrollbar {
  width: 10px; /* Mesma largura da barra do body */
}

.popapfundo::-webkit-scrollbar-track {
  background: #000000; /* Mesma cor de fundo da barra */
}

.popapfundo::-webkit-scrollbar-thumb {
  background: #df1b05; /* Mesma cor da barra (polegar) */
  border-radius: 4px; /* Mesma borda arredondada */
}

.popapfundo::-webkit-scrollbar-thumb:hover {
  background: #b81604; /* Mesma cor ao passar o mouse */
}

 .popapfundo {
  @apply bg-quintacor max-h-[100vh] overflow-y-auto py-7 px-8 border-t-4 border-primeiracor rounded-2xl min-w-[90%] md:min-w-[450px];
 }

 .popapfundo h2 {
  @apply text-center text-terceiracor font-bold text-2xl mb-3;
 }

 .popapfundo input {
  @apply w-full rounded-md my-2 p-2;
 }

 .popapfundo select {
  @apply w-full rounded-md my-2 p-2;
 }

 .paragrafopop {
  @apply mt-1 text-terceiracor text-xl;
 }

.voltarbtn {
  @apply py-8 px-6 text-quintacor text-xl items-center font-semibold bg-terceiracor rounded-r-full hover:scale-110 duration-300;
}
